body {
	color: #fff;
	background:url(http://www.zingerbugimages.com/backgrounds/black_abstract_stone_pattern_tileable.jpg);
	background-position:top left;
	background-repeat:repeat;
	background-attachment:fixed; 
}

h1.title {
	font-family: 'Square Chalk', Arial !important;
}


.panel-title{
	color: #fff;
}

.panel{
	-webkit-box-shadow: 10px 10px 84px 0px rgba(17,74,189,1);
	-moz-box-shadow: 10px 10px 84px 0px rgba(17,74,189,1);
	box-shadow: 10px 10px 84px 0px rgba(17,74,189,1);
}

.panel-transparent {
	background: #008A8A;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}